@charset "UTF-8";

  /* nome titular*/
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Albert+Sans:ital,wght@1,200&family=Arima:wght@700&family=Arizonia&family=Cuprum:ital,wght@1,600&family=DM+Sans&family=Do+Hyeon&family=Fenix&family=Fira+Sans&family=Fjalla+One&family=IM+Fell+Double+Pica&family=Montserrat:wght@300&family=Noto+Serif+Display:wght@500&family=Patrick+Hand&family=Rosario:ital,wght@1,300&family=Signika+Negative:wght@600&family=Staatliches&display=swap');

  /*subtitulos*/
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Albert+Sans:ital,wght@1,200&family=Arima:wght@700&family=Arizonia&family=Cuprum:ital,wght@1,600&family=DM+Sans&family=Do+Hyeon&family=Fenix&family=Fira+Sans&family=Fjalla+One&family=IM+Fell+Double+Pica&family=Montserrat:wght@300&family=Noto+Serif+Display:wght@500&family=Patrick+Hand&family=Raleway:wght@300&family=Rosario:ital,wght@1,300&family=Signika+Negative:wght@600&family=Staatliches&display=swap');


  *{
    margin: 0px;
    padding: 0px;
}


:root{


    --cor-cinza:#434242;
    --cor-azul:#00798a;
    --cor-braco:#ffffff;
    --cor-preto:#000;

    --font-titulo-header:'Montserrat', sans-serif;;
    --font-subtitulos:'Raleway', sans-serif;
    --font-do-conteudo: arial,helvetica, sans-serif;
}




header{
    
    background-color: var(--cor-cinza);
    height: 300px;
    

    position: relative;
}


section{
    background-color: var(--cor-azul);
    height: 300px;
    width: 1199px;
    
    

    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -8%);


}



article h1{
    font-family: var(--font-titulo-header);
    
    font-size: 29px;
    font-weight: 600;

    height: 40px;
    width: 60px;


    
}

article#subtitulo{

    font-family: var(--font-titulo-header);
    font-size: 18;
    font-weight: 600;

    height: 30px;
    width: 400px;
    

}


article#social{
    
    height: 40px;
    width: 100px;
    
    
}

article#contato{
    font-family: var(--font-titulo-header);
    font-weight: 700;

    height: 200px;
    width: 310px;
   

}

article#primeiro{
    position: absolute;
    left: 12%;
    top: 15%;
}

article#segundo{
    position: absolute;
    left: 40%;
    top: 15%;
}


article#terceiro{
    position: absolute;
    left: 70%;
    top: 15%;
}