@charset  "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    padding: 0px;
    margin: 0px;
   
}

html,body{
    background-color: rgb(211, 211, 182);
}

header{
    background-color: rgb(151, 151, 151);
}

header > h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

i#icone{
    display: block;
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#icone:hover{
    background-color: white;
    color: black;
    
     
}


menu{
    display: none;
}


menu > ul{
    list-style-type: none;
}

menu a{
    background-color: rgb(65, 63, 63);
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 13px;
    border-top: 2px solid rgba(255, 255, 255, 0.716);
    
}

header > menu > ul > li a:hover{
    background-color:  rgba(93, 90, 90, 0.849);
}

header #opção5{
    border-bottom: 4px solid rgb(151, 151, 151);
}

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;

}

article h2{
   
    padding-bottom: 15px;
    text-align: center;
}

article p{
    
    text-align: justify; 
    text-indent: 10px;
    line-height: 1.5em;
    padding-top: 15px;

    
}